:root {
    --aside-background-image: url("")
}

body {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 300px 1fr;
    font-family: 'Roboto', sans-serif;
}

.aside {
    display: flex;
    flex-direction: column;
}

.John-Doe {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.avatar {
    border-radius: 50%;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}